@model Final.Models.Consultas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Consultas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.precio_consulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_consulta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tipo_consulta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
